body {
display: flex;
flex-direction: column;
align-items: center;
}

.box {
    width: 100px;
    height: 70px;
}

.box:nth-child(1) {
    background-color: aqua;
}
.box:nth-child(2) {
    background-color: chocolate;
}
.box:nth-child(3) {
    background-color: chartreuse;
}
.box:nth-child(4) {
    background-color: yellow;
}
.box:nth-child(5) {
    background-color: tomato;
}
.box:nth-child(6) {
    background-color: violet;
}
.box:nth-child(7) {
    background-color: steelblue;
}
.box:nth-child(8) {
    background-color: springgreen;
}
.box:nth-child(9) {
    background-color: sandybrown;
}
.box:nth-child(10) {
    background-color: salmon;
}


   @media (min-width: 600px) {
    body {
        flex-direction: column-reverse;
    }
   }

   @media (min-width: 768px) {
    .box:nth-child(2) {
        background-color: steelblue;
    }
    .box:nth-child(7) {
        background-color: chocolate;
    }
    .box:nth-child(8) {
        background-color: chartreuse;
    }
    .box:nth-child(4) {
        background-color: yellow;
    }
    .box:nth-child(5) {
        background-color: tomato;
    }
    .box:nth-child(6) {
        background-color: violet;
    }
    .box:nth-child(1) {
        background-color: aqua;
    }
    .box:nth-child(9) {
        background-color: springgreen;
    }
    .box:nth-child(10) {
        background-color: sandybrown;
    }
    .box:nth-child(3) {
        background-color: salmon;
    }
   }

   @media (max-width: 1024px) {
    .box:nth-child(1) {
        background-color: violet;
    }
    .box:nth-child(2) {
        background-color: chartreuse;
    }
    .box:nth-child(3) {
        background-color: chocolate;
    }
    .box:nth-child(4) {
        background-color: springgreen;
    }
    .box:nth-child(5) {
        background-color: tomato;
    }
    .box:nth-child(6) {
        background-color: aqua;
    }
    .box:nth-child(7) {
        background-color: steelblue;
    }
    .box:nth-child(8) {
        background-color: salmon;
    }
    .box:nth-child(9) {
        background-color: sandybrown;
    }
    .box:nth-child(10) {
        background-color: yellow;
    }
   }

   @media (min-width: 1201px) {
    .box:nth-child(1) {
    
        background-color: chartreuse;
    }
    .box:nth-child(2) {
        background-color: violet;
    }
    .box:nth-child(3) {
        background-color: chocolate;
    }
    .box:nth-child(4) {
        background-color: springgreen;
    }
    .box:nth-child(5) {
        background-color: tomato;
    }
    .box:nth-child(6) {
        background-color: aqua;
    }
    .box:nth-child(7) {
        background-color: steelblue;
    }
    .box:nth-child(8) {
        background-color: salmon;
    }
    .box:nth-child(9) {
        background-color: sandybrown;
    }
    .box:nth-child(10) {
        background-color: yellow;
    }
   }
